*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* header section styles  */
.website-header{
    background-color: rgb(241, 229, 231);
}
span{
    color: rgb(199, 77, 118);
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menus{
    display: flex;
}
ul > li{
    list-style: none;
    padding: 20px   0px;
    
}
ul > li > a{
    text-decoration: none;
    padding: 20px;
}
/* Banner Section Styles  */

.banner-img > img{
    width: 400px;

}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

  
}
.banner-item{
    width: 40%;
    margin-bottom: 100px;
}
.banner-tittle{
    font-size: 80px;
    font-weight: 900;
}
.banner-description{
    font-size: 20;
}
.btn{
    margin-top: 10px;
   padding: 12px 25px;
   background-color: rgb(199, 77, 118);
   color: white;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
}
.btn:hover{
    background-color: aqua;
    border: none;
}
button > a{
    color: white;
    text-decoration: none;
}

/* Main Section Styles  */

.featured-content{
    display: flex;
    justify-content: space-around;
    margin:20px 90px   50px 90px;
}
.primary-tittle{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 100px;
}
.primary-caption{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.flower-box > img{
        width: 200px;
}
.flower-box{
    height: 300px;
    width: 250px;
    padding: 20px 20px 0px 20px;
    border-radius:150px 150px 0px 0px;
    margin-bottom: 10px;
}

h3{
    text-decoration: underline;
    text-align: center;
}


#pink-flower{
    background-color: rgb(243, 215, 243);
}
#red-flower{
    background-color: lavender;

}
#yellow-flower{
    background-color:rgb(243, 243, 185);
}

/* Hot Deal Section  */ 
.hot-deal{
    display: flex;
    justify-content: space-around;
    /* padding: 60px; */
    background-color: rgb(241, 229, 231);
    align-items: center;
    height: 300px;
    padding: 40px    200px;
    
}
.tittle{
    text-align: center;
}
.Deal-img > img{
        width: 200px;
}

/* social media styles  */
.social-media-img{
    display: flex;
    justify-content: space-around;
    margin: 0px     200px;
}


/* Get The Deal Section Styles  */

.input-field{
    display: flex;
    background-image: url(/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: cover;
    margin-top: 100px;
    margin-top: 100px;
    margin-left: 220px;
    padding: 50px   450px;
    margin-bottom: 50PX;

}
input{
    padding: 10px   100px;
    border-radius: 5px;
    text-align: center;
}
/* Footer Part  */
footer{
    background-color: black;
    color: white;
    padding: 70px   0;
}
.description{
    margin-top: 20px;
    margin-bottom: 40px;
}



